{{#partial "content"}}
    {{#each squad}}
        <p class="font-weight-bold">Name: {{ squad.name }}</p>
        <p class="font-weight-bold">Cause: {{ squad.age }}</p>
        <p class="font-weight-bold">maxSize: {{ squad.maxSize }}</p>


        <p>
            <a class="btn btn-outline-primary" href="/heroes/{{squadId}}/update">Edit Squad Details</a>
            <a class="btn btn-outline-danger" href="/heroes/{{squadId}}/delete">REMOVE SQUAD</a>
        </p>
    {{/each}}


{{/partial}}

{{> layout.hbs}}